header {
    background: linear-gradient(#000000, #ffffff);
    height: 200px;
}

.estilo-titulo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 126, 194);
    text-align: center;
    padding: 80px;
}

body{
    background: #ffffff;
}